# ===========================
# Operating System Files
# ===========================

.DS_Store
Thumbs.db

# ===========================
# VS Code
# ===========================

.vscode/

# ===========================
# Node.js
# ===========================

node_modules/
npm-debug.log*

# ===========================
# Environment Variables
# ===========================

.env
.env.local

# ===========================
# Logs
# ===========================

*.log

# ===========================
# Build Output
# ===========================

dist/
build/

# ===========================
# Temporary Files
# ===========================

*.tmp
*.temp