:root {

    --bg-primary: #111111;
    --bg-secondary: #1d1d1d;
    --bg-surface: #222222;

    --text-primary: #f5f4f4;
    --text-secondary: #b5b5b5;

    --accent-red: #cb4176;
    --accent-orange: #d97b2d;

    --border-color: #333333;

    /* -----transitions----- */

    --transition-fast: 0.2s ease;
    --transition-nedium: 0.35s ease;

    /* -----fonts----- */

    --font-primary: "Geist Mono", monospace;
    --font-heading: "Geist Pixel", sans-serif;

    /* -----border radius----- */

    --radius-small: 4px;

    /* -----spacing----- */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 48px;
    --space-3xl: 64px;
}